@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

#field {
    position: relative;
    width: 100vw;
    height: 95vh;
    overflow: hidden;
    background-color: #90caf9;
    background-image: url('../img/city2.png');
    background-position: bottom;
    background-repeat: repeat-x;
}

#ground {
    position: relative;
    width: 100vw;
    height: 5vh;
    background-color: #ffb74d;
    background-image: url('../img/ground.png');
    background-repeat: repeat-x;
}

.player {
    position: absolute;
    border-radius: 50%;
    background-image: url('../img/bird.png');
    background-size: contain;
}

.tube-top {
    background-image: url('../img/tube-top.png');
    background-position: bottom;
    background-size: cover;
}
.tube-bottom {
    background-image: url('../img/tube-bottom.png');
    background-size: cover;
}

.tube {
    position: absolute;
    background-color: black;
}

.score {
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    color: #fff;
    text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}